#container {
    margin: auto;
    width: 500px;
    text-align: center;
}

label{
    text-align: left;
    color: gray;
    font-weight: bold;
}

input {
    width: 80%;
    margin-bottom: 2rem;
    margin-top: 1rem;
    height: 4rem;
    border-radius: 1rem;
    font-size: x-large;
    text-align: center;
}

body{ 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #F9F9F7;
}

#form {
    display: block;
}

img {
    margin-top: 2rem;
}

main p {
    color: gray;
    font-weight: bold;
}

button{
    font-size: larger;
    background-color: #487D2D;
    color: white;
    height: 4rem;
    width: 80%;
    border-radius: 1rem;
    margin-top: 1.5rem;
}

button:hover{
    cursor: pointer;
    background-color: #558d39;
}

footer{
    margin-top: 2rem;
}

footer a{
    text-decoration: none;
    color:#487D2D;
    font-weight: bold;
    margin-top: 2rem;
}